
body
{
    font-family: Verdana, Arial, Helvetcia, sans-serif;
    font-size: 12pt;
    background: #E0E0E0;
}

h1
{
    font-size: 200%;
    font-weight: bold;
    color: #DF631F;
}

h2
{
    font-size: 150%;
    font-weight: bold;
    color: #DF631F;
}

.resizer
{
    width: 800px;
    height: 600px;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    
    display:flex;
    margin:0;
    padding:0;
    resize:both;
    overflow:hidden
}
.resizer > .resized
{
    flex-grow:1;
    margin:0;
    padding:0;
    border:0
}

a
{
    font-weight: bold;
    background-color: #DF631F;
    color: white;
    border: none;
    border-radius: 0.5ex;
    padding: 0.5ex;
    text-decoration: none;
}

a:hover
{
    background-color: #883515;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-button
{
    cursor: pointer;
}

.dropdown-content
{
    font-weight: normal;
    position: absolute;
    background-color: #d1d1d1;
    min-width: 400px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
    z-index: 1;
}

.info
{
    border-width: 1px;
    border-color: #883515;
    border-style: solid;
    padding: 1ex;
    border-spacing: 0;
    border-collapse:collapse;
}

.name
{
    /* marker for js getElementsByClassName to set name */
}
